/* #SELETTORE{proprietà:valore;} */


#stylesheet{href:style.css;}



#speciale{font-size: 100px;
        color:black;
        background-image:font;
        border-top:page;}

source{font-size:30px;}





nav{color:white}
